# Ambientes virtuais
.venv/
venv/
env/

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Config de IDE/Editor
.vscode/
.idea/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos de teste
data/inbox/*.xlsx

# Logs
*.log

# Arquivos de ambiente (NÃO versionar secrets)
.env

# Outros
*.sqlite3
